@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: mulish;
}

.navbar a {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.nav-item{
  margin-right: 40px;
}
.menu-active{
  font-weight: bold;
  border-bottom: 1px solid #565387;
}

.navbar a:hover{
  color : #3498db !important;
}

.right-section{
  padding-top: 100px;
}

.brand-name{
  color: lightseagreen
}

.rocket__img{
  width: 560px;
  height: 400px;
}

.right_section p{
  font-size: 20px;
}

.get-started{
  font-size: 20px;
  border-radius: 50px;
  transition: 0.5s;
  color: cadetblue;
  padding: 10px 30px;
  text-decoration: none;
}

.header-img{
  text-align: right;
}

#header .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down{
  0% {
    transform : translateY(10px)
  }
100% {
  transform: translateY(-10px);
}
}

@-webkit-keyframes up-down{
  0% {
    transform : translateY(10px)
  }
100% {
  transform: translateY(-10px);
}
}